.App-header {
	background-color: #d38b40;
	box-sizing: border-box;
	color: #fff;
	display: block;
	height: 50px;
	font-family: Helvetica, 'sans-serif';
	font-size: 32px;
	font-weight: 700;
	padding-top: 10px;
	z-index: 10;
}

.App-version {
	bottom: 0;
	color: #505050;
	font-size: 12px;
	padding: 1em;
	position: fixed;
	right: 0;
}
