.GameRoom-roomInfo {
	background-color: #505050;
	box-sizing: border-box;
	color: #fff;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	height: 28px;
	margin-bottom: 10px;
	font-family: Helvetica, 'sans-serif';
	font-size: 14px;
	font-weight: 700;
	padding: 5px 10px;
}

.GameRoom-instruction {
	text-align: center;
}

.GameRoom-roomCode {
	text-align: end;
}

.GameRoom-letters {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	margin: auto;
	max-width: 400px;
	padding: 0 15px;
}

.GameRoom-letter {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2em;
	justify-content: center;
}

.GameRoom-submit, .GameRoom-submit-input {
	text-align: center;
}

.GameRoom-submit {
	border: 0;
	border-width: 0;
	box-sizing: border-box;
	color: #000;
	max-width: 400px;
	margin: 0 auto;
	padding: 15px 15px 20px;
}

.GameRoom-foundWords {
	display: grid;
	grid-template-columns: 2fr 2fr;
	margin: auto;
	padding: 0 15px;
}


.GameRoom-foundWordHeader, .GameRoom-finderHeader {
	border-bottom: 1px solid #505050;
	font-size: 1.25em;
}

.GameRoom-foundWordHeader, .GameRoom-foundWord {
	border-right: 1px solid #505050;
	padding-right: 10px;
	text-align: right;
}

.GameRoom-finderHeader, .GameRoom-finder {
	padding-left: 10px;
}

.GameRoom-foundWord {
	font-size: 2em;
	font-family: 'Courier New', Courier, monospace;
}

.GameRoom-finder {
	align-self: center;
}
