.RoomEntry-submit {
	border: 0;
	border-width: 0;
	box-sizing: border-box;
	color: #000;
	max-width: 400px;
	margin: 0 auto;
	padding: 15px 15px 0;
}

.RoomEntry-submit label {
	display: inline-block;
	margin-bottom: 5px;
	padding-left: 12px;
}
