body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button,
input[type='submit'] {
	background: linear-gradient(
		45deg,
		rgba(125, 185, 232, 0) 25%,
		#d9b271 32%,
		#ecc179 42%,
		#e1b16a 54%,
		#d38b40 58%
	);
	background-size: 800% 100%;
	background-position: 100%;
	border-radius: 12px;
	border-width: 0;
	box-shadow: 2px 4px 0 0 #bd512b;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: Helvetica, 'sans-serif';
	font-size: 18px;
	font-weight: 700;
	height: 48px;
	overflow: visible;
	margin: 15px auto;
	max-width: 330px;
	min-width: 70px;
	transition: color 0.5s, background-position 0.5s, box-shadow 0.5s;
	width: 90%;
}

button:disabled,
input[type='submit']:disabled {
	background-color: #e0e0e0;
	background-position: 0%;
	box-shadow: 2px 4px 0 0 #505050;
	color: #505050;
	transition: color 0.5s, background-position 0.5s, box-shadow 0.5s;
}

input[type='text'] {
	background-color: #e0e0e0;
	border: 0 solid;
	border-radius: 12px;
	box-sizing: border-box;
	font-family: Helvetica, 'sans-serif';
	font-size: 18px;
	font-weight: 700;
	height: 34px;
	margin-bottom: 15px;
	overflow: visible;
	padding: 6px 12px;
	text-transform: uppercase;
	width: 100%;
}

label {
	font-family: Helvetica, 'sans-serif';
	font-size: 18px;
	font-weight: 700;
}

/*
	Centering react-spinners without using its css prop can be tricky.
	https://github.com/davidhu2000/react-spinners/issues/53
*/
.loader {
	margin-top: 10px;
	text-align: center;
}
